<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login de usuario</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link rel="stylesheet" href="/resources/css/registro.css"/>
  </head>
 
  <body><!---aca para hacer el formularo para agregar datos a la tabla ----->
    <br>
      <div class=" row container col-10 d-flex p-2 bd-highlight">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/landi_page">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Metodologia
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" 
                type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
        </nav>
      
        <div class=" row col-12 md-5 mt-4 card d-flex p-2 bd-highlight">
          <h3 class="card-title">Agregue inventario</h3>
           <form action="/plantilla" method="POST" class="card-body row align-items-center">
             <div class="row col-12 form-group">
               <div class="col">
                <label class="font-weight-bold"
                >Nombre Elemnto<span class="text-danger">*</span></label
              >
                <input type="text" name="nombreInventario" class="form-control" placeholder=" ">
               </div>
               <div class="col">
                <label class="font-weight-bold"
                >Tipo Elemnto<span class="text-danger">*</span></label
              >
                <input type="text" name="tipo" class="form-control" placeholder=" ">
               </div>
               <div class="col">
                <label class="font-weight-bold"
                >Cantidad Unidades<span class="text-danger">*</span></label
              >
                <input type="number" name="unidades" class="form-control" placeholder=" ">
               </div>
               <div class="col">
                <label class="font-weight-bold"
                > Valor Elemento<span class="text-danger">*</span></label
              >
                <input type="text" name="costo" class="form-control" placeholder=" ">
               </div>
             </div>
             <div class="row col-12  form-group">
              <div class="col">
                <label class="font-weight-bold"
                >Fecha Ingreso<span class="text-danger">*</span></label
              >
                <input type="date" name="fechaCaducidad" class="form-control" placeholder=" ">
              </div>
              <div class="col">
                <label class="font-weight-bold"
                >Descripcion<span class="text-danger">*</span></label
              >
                <input type="text" name="descripcion" class="form-control" placeholder=" ">
              </div>
              <div class="col">
                <label class="font-weight-bold"
                >Estado Elemento<span class="text-danger">*</span></label
              >
              <input type="text" name="estado" class="form-control" placeholder=" ">
              </div>
              <div class="col">
                <label class="font-weight-bold"
                >Fecha Ultimo inventario<span class="text-danger">*</span></label
              >
                <input type="date" name="fechaUltimoInventario" class="form-control" placeholder=" ">
              </div>
             </div>
             <div class="row col-3 ">
              <input type="submit" class="btn btn-success">
             </div>
           </form>
        </div>
          
          
            <div class=" row col-12 md-6 mt-4 text-center d-flex p-2 bd-highlight">
              <table class="table table-striped table-responsive"> 
                <tr>
                  <th>ID</th>
                  <th>nombre_I</th>
                  <th>tipo</th>
                  <th>unidades</th>
                  <th>costo</th>
                  <th>Ingreso</th>
                  <th>Descripcion</th>
                  <th>Estado</th>
                  <th>Ultimo_inventario</th>
                  <th>Eliminar</th>
                  <th>Editar</th>
                </tr>
              <% for (let i=0;i<inventario.length; i++){%>
               <tr>
                 <td><%=inventario[i].idinventario%></td>
                 <td><%=inventario[i].nombreInventario%></td>
                 <td><%=inventario[i].tipo%></td>
                 <td><%=inventario[i].unidades%></td>
                 <td><%=inventario[i].costo%></td>
                 <td><%=inventario[i].fechaCaducidad%></td>
                 <td><%=inventario[i].descripcion%></td>
                 <td><%=inventario[i].estado%></td>
                 <td><%=inventario[i].fechaUltimoInventario%></td>
                 <td><a href="/delete/<%=inventario[i].idinventario%>">Eliminar</a></td>
                <td><type type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Editar</type>
               </tr>
               <%}%>
             </table>
            </div>
      </div>
  </body>
</html>
